a.out
autom4te.cache
config.h
config.log
config.status
Makefile
stamp-*

TODO*

wipefreespace
.deps
*.o
*.gcov
*.gcda
*.gcno

*.info
*.html
*~
wipefreespace.spec
wfs_cfg.h

po/POTFILES
po/Makefile.in
po/*.gmo

test_wfs_util
test_wfs_mount_check
test_wfs_wiping
*.log
*.trs
test-fs
