a.out
autom4te.cache
config.h
config.log
config.status
Makefile
stamp-*

TODO*

wipefreespace
.deps
*.o
*.gcov
*.gcda
*.gcno

*.info
*.html
*~
wipefreespace.spec
wfs_cfg.h

po/POTFILES
po/Makefile.in
po/*.gmo

test_wfs_util
test_wfs_mount_check
test_wfs_wiping
test_wfs_wrappers
test_wfs_ext234
test_wfs_fat
test_wfs_hfsp
test_wfs_jfs
test_wfs_minixfs
test_wfs_ntfs
test_wfs_ocfs
test_wfs_reiser
test_wfs_reiser4
*.log
*.trs
test-fs*
