a.out
autom4te.cache
config.h
config.log
config.status
Makefile
stamp-*

TODO*

wipefreespace
.deps
*.o

*.info
*.html
*~
wipefreespace.spec
wfs_cfg.h

po/POTFILES
po/Makefile.in

test_wfs_util
test_wfs_wiping
*.log
*.trs
