# "Wipe free space" Konqueror context menu entry
#
# Copyright (C) 2010-2021 Bogdan 'bogdro' Drozdowski, bogdro (at) users.sourceforge.net
#	https://wipefreespace.sourceforge.io
#
# This file may be used only according to the licence of Konqueror itself.
#

[Desktop Entry]
Name=Wipe free space
Name[pl]=Wyczyść puste miejsce
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
#,application/octet-stream
MimeType=inode/blockdevice;application/octet-stream;
#all/allfiles;
Actions=wipefreespace;
Icon=eraser

[Desktop Action wipefreespace]
Name=Wipe free space
Name[pl]=Wyczyść puste miejsce
Icon=eraser
Exec=xterm -e "wipefreespace %F; exit"
