# "Wipe free space" Konqueror/Doplhin context menu entry
#
# Copyright (C) 2007-2021 Bogdan 'bogdro' Drozdowski, bogdro (at) users.sourceforge.net
#	https://wipefreespace.sourceforge.io
#
# This file may be used only according to the licence of Konqueror/Doplhin itself.
#

[Desktop Entry]
ServiceTypes=inode/blockdevice,all/allfiles
Actions=wipefreespace
Name=Wipe free space
Type=Application
StartupNotify=false

[Desktop Action wipefreespace]
Name=Wipe free space
Name[pl]=Wyczyść puste miejsce
Icon=eraser
#Exec=dcop kdesktop KDesktopIface popupExecuteCommand "wipefreespace %F"
Exec=xterm -e "wipefreespace %F; exit"
